Repository by-rojo/iagnmft-nodejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,js}": "eslint --fix",
  "*.json": "prettier --write"
}

add product pages
  api-factory/wp/products/categories/index.ts
  api-factory/wp/products/index.ts
  api-factory/wp/types.d.ts
  components/category-page/components/product-filters/index.tsx
  components/category-page/components/product-filters/types.d.ts
  components/category-page/components/products-list/index.tsx
  components/category-page/context.tsx
  components/category-page/index.tsx
  components/category-page/types.d.ts
  package-lock.json
  package.json
  pages/api/products/index.ts
Due: eslint --fix, prettier --write

add product pages
  components/category-page/types.d.ts
Due: eslint --fix

style filters and add range slider
  api-factory/wp/products/index.ts
  components/category-page/components/product-filters/index.tsx
  components/category-page/context.tsx
  components/range-slider/index.tsx
  components/range-slider/style.module.scss
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

add sub category filter
  api-factory/wp/products/categories/index.ts
  api-factory/wp/products/index.ts
  api-factory/wp/types.d.ts
  components/category-page/components/product-filters/index.tsx
  components/category-page/components/product-filters/types.d.ts
  components/category-page/components/products-list/index.tsx
  components/category-page/context.tsx
  components/category-page/types.d.ts
  constants/index.ts
  pages/api/products/index.ts
  pages/category/[slug]/index.tsx
  styles/app.scss
Due: eslint --fix

add tags, ga, and gtm
  .env
  components/app-head/index.tsx
  components/category-page/components/products-list/index.tsx
  components/home-page/components/fancy-category-grid/index.tsx
  components/home-page/components/recently-added-section/index.tsx
  package-lock.json
  package.json
  pages/category/[slug]/index.tsx
  pages/index.tsx
Due: prettier --write

add tags, ga, and gtm
  .env
Due: none

add product page
  .vscode/settings.json
  api-factory/wp/products/index.ts
  components/product-page/hooks.ts
  components/product-page/index.tsx
  components/product-page/style.module.scss
  components/product-page/types.d.ts
  pages/product/[slug]/index.tsx
  styles/_module-utils.scss
  utils/index.ts
Due: eslint --fix, prettier --write

add related products
  api-factory/wp/products/index.ts
  api-factory/wp/products/types.d.ts
  api-factory/wp/types.d.ts
  components/category-page/components/products-list/index.tsx
  components/home-page/components/recently-added-section/index.tsx
  components/product-page/index.tsx
  pages/api/products/index.ts
Due: eslint --fix

fix layout issues
  components/home-page/components/recently-added-section/index.tsx
  components/product-page/index.tsx
  components/product-page/style.module.scss
Due: none

fix layout issues
  components/home-page/components/recently-added-section/index.tsx
  components/product-page/index copy.tsx
  components/product-page/style.module.scss
Due: none

add env settings for blog and update readme
  .env
  README.md
  pages/blog/index.tsx
Due: none

add env instructions to readme
  README.md
Due: none

add blogs
  .vscode/launch.json
  api-factory/api/client/products/index.ts
  api-factory/api/client/products/use-blogs/index.tsx
  api-factory/wp/blogs/index.ts
  api-factory/wp/blogs/types.d.ts
  api-factory/wp/media/index.ts
  api-factory/wp/media/types.d.ts
  components/blogs-page/components/feed/index.tsx
  components/blogs-page/index.tsx
  components/blogs-page/types.d.ts
  components/html/index.tsx
  components/paginate/index.tsx
  components/product-page/index copy.tsx
  constants/index.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/blogs/index.ts
  pages/blog/index.tsx
  styles/app.scss
  utils/index.ts
  utils/types.d.ts
Due: eslint --fix, prettier --write

add blog pagination
  api-factory/api/client/products/use-blogs/index.tsx
  api-factory/wp/blogs/index.ts
  api-factory/wp/blogs/types.d.ts
  api-factory/wp/types.d.ts
  components/blogs-page/components/feed/index.tsx
  components/blogs-page/components/feed/style.module.scss
  components/card/card-body/index.tsx
  components/card/card-img/index.tsx
  components/card/card-text/index.tsx
  components/card/card-title/index.tsx
  components/card/index.tsx
  pages/api/blogs/index.ts
  pages/blog/index.tsx
  pages/product/[slug]/index.tsx
Due: eslint --fix

add blog feed
  api-factory/api/client/products/use-products/index.tsx
  components/blogs-page/components/feed/index.tsx
  components/blogs-page/components/feed/style.module.scss
  components/blogs-page/components/sidebar/index.tsx
  components/blogs-page/components/sidebar/style.module.scss
  components/blogs-page/index.tsx
  components/card/card-img/index.tsx
  components/card/card-img/style.module.scss
  pages/blog/index.tsx
Due: none

add blog details
  api-factory/api/client/products/use-blog/index.tsx
  api-factory/wp/blogs/index.ts
  components/blog-details-page/components/blog-container/index.tsx
  components/blog-details-page/components/sidebar/index.tsx
  components/blog-details-page/components/sidebar/style.module.scss
  components/blog-details-page/index.tsx
  components/blog-details-page/types.d.ts
  pages/api/blogs/index.ts
  pages/blog/[slug].tsx
Due: eslint --fix

style blog
  components/blog-details-page/components/blog-container/index.tsx
  components/blog-details-page/components/blog-container/style.module.scss
  pages/blog/[slug].tsx
  utils/index.ts
Due: eslint --fix

add breadcrumbs
  README.md
  components/blog-details-page/index.tsx
  components/blogs-page/index.tsx
  components/breadcrumbs/breadcrumb/index.tsx
  components/breadcrumbs/breadcrumb/style.module.scss
  components/breadcrumbs/breadcrumb/types.d.ts
  components/breadcrumbs/index.tsx
  components/breadcrumbs/style.module.scss
  components/category-page/components/product-filters/index.tsx
  components/category-page/components/products-list/index.tsx
  components/product-page/index.tsx
Due: eslint --fix

adjust todo list
  README.md
Due: none

add todo list
  README.md
Due: none

add blog categories
  README.md
  api-factory/api/client/products/use-blogs/index.tsx
  api-factory/wp/blogs/index.ts
  api-factory/wp/category/index.ts
  api-factory/wp/category/types.d.ts
  api-factory/wp/types.d.ts
  components/blog-details-page/components/sidebar/index.tsx
  components/blog-details-page/types.d.ts
  components/blogs-page/index.tsx
  components/blogs-page/types.d.ts
  components/home-page/components/fancy-category-grid/index.tsx
  components/nav-bar/index.tsx
  components/product-page/index.tsx
  pages/category/[category]/index.tsx
  pages/product-category/[slug]/index.tsx
Due: eslint --fix

add sub cat pages
  README.md
  pages/product-category/[slug]/[subCategory]/index.tsx
Due: none

add sub cat pages
  pages/product-category/[slug]/[subCategory]/index.tsx
Due: none

update the readme
  README.md
  api-factory/wp/category/index.ts
Due: eslint --fix

update to do
  README.md
Due: none

update test libs
  README.md
  package-lock.json
  package.json
Due: prettier --write

add company name
  components/nav-bar/index.tsx
  constants/index.ts
Due: eslint --fix

fix husky
  package.json
Due: prettier --write

fix bugs with auto site generation
  api-factory/wp/blogs/index.ts
  api-factory/wp/category/index.ts
  api-factory/wp/media/index.ts
  api-factory/wp/menus/index.ts
  api-factory/wp/posts/index.ts
  api-factory/wp/products/categories/index.ts
  api-factory/wp/products/index.ts
  components/home-page/components/fancy-category-grid/index.tsx
  components/home-page/components/recently-added-section/index.tsx
  next.config.js
Due: eslint --fix

remove permalink code
  api-factory/wp/products/index.ts
  components/category-page/components/products-list/index.tsx
  utils/index.ts
Due: eslint --fix

remove host env
  .env
  utils/index.ts
Due: eslint --fix
