Repository by-rojo/iagnmft-nodejs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,js}": "eslint --fix",
  "*.json": "prettier --write"
}

lint everything
  .vscode/settings.json
  README.md
  next.config.js
  pages/_app.tsx
  pages/api/hello.ts
  pages/index.tsx
Due: eslint --fix, prettier --write

lint everything
  .husky/pre-commit
Due: none

add env file
  .env
Due: none

add jest
  .eslintrc.json
  .husky/pre-commit
  .nvmrc
  components/test.ts
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

Fix linter issues
  .eslintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  pages/index.tsx
Due: prettier --write

fix json linter
  .eslintrc.json
  .vscode/settings.json
Due: prettier --write

add stylelint
  .lintstagedrc
  .stylelintrc
  .vscode/settings.json
  components/home-page/index.tsx
  package-lock.json
  package.json
  pages/index.tsx
  styles/Home.module.css
  styles/globals.css
Due: prettier --write

add sass
  package-lock.json
  package.json
Due: prettier --write

fix lint
  .stylelintrc
  components/test.ts
  jest.config.js
  jest.setup.js
  package-lock.json
  styles/Home.module.css
  styles/globals.css
Due: eslint --fix, prettier --write

fix lint
  .prettierrc
  pages/_app.tsx
  pages/api/hello.ts
  tsconfig.json
Due: eslint --fix, prettier --write

setup wordpress
  .env
  package-lock.json
  package.json
  pages/api/wp-example.ts
Due: eslint --fix, prettier --write

setup generic context for static page data
  README.md
  api-factory/wp/menus/index.ts
  api-factory/wp/menus/types.d.ts
  api-factory/wp/posts/index.ts
  components/home-page/hooks.ts
  components/home-page/index.tsx
  components/home-page/types.d.ts
  context/static-page-context/index.tsx
  context/static-page-context/types.d.ts
  pages/api/wp-example.ts
  pages/index.tsx
Due: eslint --fix

add documentation
  README.md
  pages/index.tsx
Due: none

catch failures
  pages/index.tsx
Due: none

add page contexxt
  context/static-page-context/index.tsx
  context/static-page-context/types.d.ts
Due: eslint --fix

update readme
  README.md
Due: none

fix bug
  pages/index.tsx
Due: none

cleanup code
  pages/index.tsx
Due: none

setup cache for homepage
  .env
  pages/index.tsx
Due: none

setup chache
  pages/index.tsx
Due: none

add bootstrap and nav bar
  .stylelintrc
  components/home-page/index.tsx
  components/nav-bar/index.tsx
  components/nav-bar/style.module.scss
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  styles/Home.module.css
  styles/_module-utils.scss
  styles/app.scss
  styles/globals.css
Due: prettier --write

update style lint
  .stylelintrc
Due: none

update docs
  README.md
  components/test.ts
Due: eslint --fix

add hero
  .env
  components/hero/index.tsx
  components/home-page/index.tsx
  constants/index.ts
  next.config.js
  styles/app.scss
Due: eslint --fix

add grid cards
  README.md
  api-factory/wp/products/index.ts
  api-factory/wp/products/types.d.ts
  components/big-grid-card/index.tsx
  components/big-grid-card/style.module.scss
  components/big-grid-card/types.d.ts
  components/big-grid/index.tsx
  components/home-page/components/top-products-section/index.tsx
  components/home-page/index.tsx
  components/home-page/types.d.ts
  components/nav-bar/index.tsx
  components/nav-bar/style.module.scss
  constants/index.ts
  package-lock.json
  package.json
  pages/index.tsx
  styles/_module-utils.scss
  styles/_utils.scss
Due: eslint --fix, prettier --write

add grid cards
  styles/_utils.scss
Due: none

add image to product cards
  api-factory/wp/posts/index.ts
  api-factory/wp/products/types.d.ts
  api-factory/wp/types.d.ts
  components/big-grid-card/index.tsx
  components/big-grid-card/style.module.scss
  components/big-grid-card/types.d.ts
  components/home-page/components/top-products-section/index.tsx
  styles/_utils.scss
Due: eslint --fix

setup links
  .env
  components/big-grid-card/index.tsx
  components/big-grid-card/types.d.ts
  components/home-page/components/top-products-section/index.tsx
Due: eslint --fix

setup links
  components/big-grid-card/index.tsx
Due: none

setup recent products
  api-factory/wp/products/index.ts
  components/big-grid-card/index.tsx
  components/big-grid/index.tsx
  components/home-page/components/recently-added-section/index.tsx
  components/home-page/components/recently-added-section/style.module.scss
  components/home-page/components/top-products-section/index.tsx
  components/home-page/index.tsx
  components/home-page/types.d.ts
  package-lock.json
  package.json
  pages/index.tsx
  styles/_custom.scss
  styles/_module-utils.scss
  styles/_utils.scss
  styles/app.scss
  utils/index.ts
Due: eslint --fix, prettier --write

add recently added
  components/home-page/components/recently-added-section/index.tsx
Due: none

add infinit scrolling
  api-factory/api/client/products/index.ts
  api-factory/wp/products/index.ts
  api-factory/wp/types.d.ts
  components/home-page/components/recently-added-section/index.tsx
  components/home-page/components/top-products-section/index.tsx
  constants/index.ts
  package-lock.json
  package.json
  pages/api/products/index.ts
  pages/index.tsx
  styles/app.scss
Due: eslint --fix, prettier --write

add footer
  .eslintrc.json
  .vscode/settings.json
  components/footer/index.tsx
  components/home-page/components/recently-added-section/index.tsx
  components/home-page/index.tsx
  constants/index.ts
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

add footer
  .env
  constants/index.ts
Due: eslint --fix

Iagmft/home page (#7)
  .env
  .eslintrc.json
  .vscode/settings.json
  components/footer/index.tsx
  components/home-page/components/recently-added-section/index.tsx
  components/home-page/index.tsx
  constants/index.ts
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

add infinit scrolling
  .env
  api-factory/wp/products/categories/index.ts
  api-factory/wp/products/categories/types.d.ts
  api-factory/wp/products/types.d.ts
  components/hero-layout/index.tsx
  components/hero/index.tsx
  components/hero/types.d.ts
  components/home-page/components/category-grid/index.tsx
  components/home-page/components/top-products-section/index.tsx
  components/home-page/index.tsx
  components/home-page/types.d.ts
  constants/index.ts
  pages/index.tsx
  styles/_custom.scss
Due: eslint --fix

add doc
  README.md
Due: none

add category grid
  components/home-page/components/category-grid/index.tsx
  components/home-page/components/fancy-category-grid/index.tsx
  components/home-page/components/fancy-category-grid/style.module.scss
  components/home-page/index.tsx
Due: none

add category pages
  api-factory/wp/products/categories/index.ts
  api-factory/wp/products/index.ts
  api-factory/wp/types.d.ts
  components/category-page/components/products-list/index.tsx
  components/category-page/components/products-list/style.module.scss
  components/category-page/hooks.ts
  components/category-page/index.tsx
  components/category-page/types.d.ts
  components/home-page/components/fancy-category-grid/index.tsx
  constants/index.ts
  pages/category/[slug]/index.tsx
Due: eslint --fix
